In [35]:
import pandas as pd
import csv
from google.colab import drive
import numpy as np
from numpy import float64, int32 

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [36]:
metadata= pd.read_csv('/content/drive/MyDrive/hybridrecommendersystem/movies_metadata.csv')
ratings= pd.read_csv('/content/drive/MyDrive/hybridrecommendersystem/ratings.csv', dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
#   metadata=pd.read_csv('/content/drive/MyDrive/hybridrecommendationsystem/movies_metadata.csv/movies_metadata.csv')
#   ratings=pd.read_csv('/content/drive/MyDrive/hybridrecommendationsystem/ratings.csv/ratings.csv')

In [38]:

metadata.sort_values(by= ['vote_count'], ascending=False,inplace=True)
metadata.reset_index(inplace=True)
metadata

       index  ... vote_count
0      15480  ...    14075.0
1      12481  ...    12269.0
2      14551  ...    12114.0
3      17818  ...    12000.0
4      26564  ...    11444.0
...      ...  ...        ...
45461  19730  ...        NaN
45462  29502  ...        NaN
45463  29503  ...        NaN
45464  35586  ...        NaN
45465  35587  ...        NaN

[45466 rows x 25 columns]

In [39]:
metadata = metadata.replace(np.nan, ' ', regex=True)
for index, row in metadata.iterrows():
    if row['title']==' ' or row['vote_count']==0:
        metadata.drop(index, inplace=True)

In [40]:
metadata['popularity'] = metadata['popularity'].astype(float64)
thres = metadata.popularity.quantile(0.9)
metadata = metadata.query('popularity >= @thres')
# metadata

In [41]:
metadata_1=metadata.drop(columns=['homepage','original_title','poster_path','tagline','video','status','runtime','budget','homepage','vote_average'	,'vote_count','imdb_id','popularity', 'production_companies','production_countries','spoken_languages','release_date','revenue','video','belongs_to_collection'])

In [43]:
l1 = [' ']*len(metadata_1['id'])
metadata_1['genre'] = l1
metadata_1.reset_index(inplace= True, drop=False)

In [44]:
row=0
for i in metadata_1['genres']:
    if(i.find("War")!=-1):
        # metadata_1['War'][row]=1
        metadata_1['genre'][row]+='War '
    if(i.find("Action")!=-1):
        # metadata_1['Action'][row]=1
        metadata_1['genre'][row]+='Action '
    if(i.find("Adventure")!=-1):
        # metadata_1['Adventure'][row]=1
        metadata_1['genre'][row]+='Adventure '
    if(i.find("Romance")!=-1):
        # metadata_1['Romance'][row]=1
        metadata_1['genre'][row]+='Romance '
    if(i.find("Drama")!=-1):
        # metadata_1['Drama'][row]=1
        metadata_1['genre'][row]+='Drama '
    if(i.find("Horror")!=-1):
        # metadata_1['Horror'][row]=1
        metadata_1['genre'][row]+='Horror '
    if(i.find("Fantasy")!=-1):
        # metadata_1['Fantasy'][row]=1
        metadata_1['genre'][row]+='Fantasy '
    if(i.find("Thriller")!=-1):
        # metadata_1['Thriller'][row]=1
        metadata_1['genre'][row]+='Thriller '
    if(i.find("Family")!=-1):
        # metadata_1['Family'][row]=1
        metadata_1['genre'][row]+='Family '
    if(i.find("Mystery")!=-1):
        # metadata_1['Mystery'][row]=1
        metadata_1['genre'][row]+='Mystery '
    if(i.find("Science Fiction")!=-1):
        # metadata_1['Science Fiction'][row]=1
        metadata_1['genre'][row]+='Science Fiction '
    if(i.find("Documentary")!=-1):
        # metadata_1['Documentary'][row]=1
        metadata_1['genre'][row]+='Documentary '
    if(metadata_1['adult'][row]=='True'):
        metadata_1['genre'][row]+='Adult'
    row+=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
metadata_1['genre']+=metadata_1['original_language']
metadata_1['overview']+=metadata_1['genre']

In [46]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vector = TfidfVectorizer(stop_words='english')
metadata_1['overview'] = metadata_1['overview'].fillna('')
tfidf_matrix = tfidf_vector.fit_transform(metadata_1['overview'])

from sklearn.metrics.pairwise import linear_kernel
sim_matrix = linear_kernel(tfidf_matrix, tfidf_matrix)
indices = pd.Series(metadata_1.index, index=metadata_1['title']).drop_duplicates()

In [48]:
movies_df = metadata.drop(columns = ['adult', 'genres', 'original_language', 'overview','homepage','original_title','poster_path','tagline','video','status','runtime','budget','homepage','imdb_id', 'production_companies','production_countries','spoken_languages','release_date','revenue','video','belongs_to_collection'])
movies_df.drop(['index', 'vote_average', 'popularity','vote_count'], axis=1, inplace=True)
movies_df.rename(columns = {"id":"movieId"}, inplace = True)

In [49]:
movies_df1 = ratings.drop(['timestamp'], axis=1)

In [50]:
movies_df['movieId'] = movies_df['movieId'].astype(int32)
movies_df = movies_df.merge(movies_df1, left_on = 'movieId', right_on = 'movieId', how = 'left')
movies_df = movies_df.replace(np.nan, ' ', regex=True)
movies_df

         movieId        title  userId rating
0          27205    Inception   41190      3
1          27205    Inception   45811      4
2          27205    Inception  201372      3
3          27205    Inception  225396    4.5
4          27205    Inception  243331      4
...          ...          ...     ...    ...
4738652    26550  Little Lips  248978      3
4738653    26550  Little Lips  258205      3
4738654    26550  Little Lips  267535    3.5
4738655    26550  Little Lips  267772      2
4738656    26550  Little Lips  270654    3.5

[4738657 rows x 4 columns]

In [51]:
combine_movie_rating = movies_df.dropna(axis = 0, subset = ['title'])
movie_ratingCount = (combine_movie_rating.
    groupby(by = ['title'])['rating'].
    count().
    reset_index().
    rename(columns = {'rating': 'totalRatingCount'})
    [['title', 'totalRatingCount']]
    )
movies_df = combine_movie_rating.merge(movie_ratingCount, left_on = 'title', right_on = 'title', how = 'left')
movies_df.head(10)

   movieId            title  userId rating  totalRatingCount
0    27205        Inception   41190      3                 5
1    27205        Inception   45811      4                 5
2    27205        Inception  201372      3                 5
3    27205        Inception  225396    4.5                 5
4    27205        Inception  243331      4                 5
5      155  The Dark Knight      12      1              1319
6      155  The Dark Knight     346      4              1319
7      155  The Dark Knight     792      2              1319
8      155  The Dark Knight     845      5              1319
9      155  The Dark Knight    1460      3              1319

In [52]:
selected_columns = metadata[["vote_average","id"]]
new_df = selected_columns.copy()
new_df.rename(columns = {"id":"movieId"}, inplace = True)
new_df['movieId'] = new_df['movieId'].astype(int32)
movies_df = movies_df.merge(new_df, left_on ='movieId', right_on = 'movieId', how='left')
movies_df

         movieId        title  userId rating  totalRatingCount vote_average
0          27205    Inception   41190      3                 5          8.1
1          27205    Inception   45811      4                 5          8.1
2          27205    Inception  201372      3                 5          8.1
3          27205    Inception  225396    4.5                 5          8.1
4          27205    Inception  243331      4                 5          8.1
...          ...          ...     ...    ...               ...          ...
4738718    26550  Little Lips  248978      3                94          5.8
4738719    26550  Little Lips  258205      3                94          5.8
4738720    26550  Little Lips  267535    3.5                94          5.8
4738721    26550  Little Lips  267772      2                94          5.8
4738722    26550  Little Lips  270654    3.5                94          5.8

[4738723 rows x 6 columns]

In [53]:
movies_df['userId'].replace(' ',np.nan, regex=True, inplace = True)
movies_df = movies_df[movies_df['userId'].notna()]
movies_df['rating'] = movies_df['rating'].astype(int32)
movies_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

         movieId        title    userId  rating  totalRatingCount vote_average
0          27205    Inception   41190.0       3                 5          8.1
1          27205    Inception   45811.0       4                 5          8.1
2          27205    Inception  201372.0       3                 5          8.1
3          27205    Inception  225396.0       4                 5          8.1
4          27205    Inception  243331.0       4                 5          8.1
...          ...          ...       ...     ...               ...          ...
4738718    26550  Little Lips  248978.0       3                94          5.8
4738719    26550  Little Lips  258205.0       3                94          5.8
4738720    26550  Little Lips  267535.0       3                94          5.8
4738721    26550  Little Lips  267772.0       2                94          5.8
4738722    26550  Little Lips  270654.0       3                94          5.8

[4735752 rows x 6 columns]

In [54]:
movie_features_df=movies_df.pivot_table(index='title',columns='userId',values='rating').fillna(0)
# movie_features_df.describe()

In [55]:
movie_features_df

userId                      1.0       2.0       ...  270895.0  270896.0
title                                           ...
10 Things I Hate About You       0.0       0.0  ...       0.0       0.0
10,000 BC                        0.0       0.0  ...       0.0       0.0
12 Angry Men                     0.0       0.0  ...       0.0       0.0
127 Hours                        0.0       0.0  ...       0.0       0.0
13 Sins                          0.0       0.0  ...       0.0       0.0
...                              ...       ...  ...       ...       ...
Zathura: A Space Adventure       0.0       0.0  ...       0.0       0.0
Zodiac                           0.0       0.0  ...       0.0       0.0
eXistenZ                         0.0       0.0  ...       0.0       0.0
xXx                              0.0       0.0  ...       0.0       0.0
Æon Flux                         0.0       0.0  ...       0.0       0.0

[1270 rows x 246737 columns]

In [56]:
from scipy.sparse import csr_matrix
movie_features_df_matrix = csr_matrix(movie_features_df.values)
from sklearn.neighbors import NearestNeighbors
model_knn= NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20)
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=20, p=2,
                 radius=1.0)

In [58]:
movie_features_df.shape

(1270, 246737)

In [68]:
def hybrid_recom(movie_title, sim_scores=sim_matrix, indices=indices):
    try:
        idx = indices[movie_title]
        sim_scores = list(enumerate(sim_matrix[idx]))
        sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
        sim_scores = sim_scores[1:501]
        movie_indices = [i[0] for i in sim_scores]
        l1 = metadata_1['title'].iloc[movie_indices].tolist()
        df1 = movie_features_df.copy(deep=True)
        df1['new_col'] = range(0, len(df1))
        query_index_name=df1[df1.index == movie_title]['new_col']
        query_index=query_index_name[0]
        distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 500)
        l2=[] 
        for i in range(1, len(distances.flatten())):
            l2.append(movie_features_df.index[indices.flatten()[i]])
        d = dict()
        for i  in range(0,len(l1)):
            flag=1
            for j in range(0,len(l2)):
                if l1[i]==l2[j]:
                    d[l1[i]]=i+2*j;
                    flag=0
            if flag:
                d[l1[i]]=3*i;
        print("The Recommended Movies for {} are:".format(movie_title))
        n = 0
        for i in sorted(d.items(), key=lambda x: x[1]):
            print(i[0])
            if n==9:
                break
            n+=1
    except:
        print("Sorry, couldn't find anything for the movie you requested")

In [64]:
movie_title = str(input())

Inception

In [69]:
hybrid_recom(movie_title)

The Recommended Movies for Inception are:
Altitude
Mission: Impossible - Rogue Nation
House
Renaissance
Flatliners
Central Intelligence
The Fifth Element
Morgan
Pandorum
Pitch Perfect 2
Where Eagles Dare